# Since new-customer-setup is meant to be used in a Zapier code step, only the libraries available in Zapier code
# should go in this file: https://zapier.com/help/create/code-webhooks/use-python-code-in-zaps
requests